
P { font-family:  Arial, Helvetica, sans-serif; font-size: 10pt; color:#3b3b3b ; text-decoration: none;}
li { font-family:  Arial, Helvetica, sans-serif; font-size: 10pt; color:#333333 ; text-decoration: none;}
ul { font-family:  Arial, Helvetica, sans-serif; font-size: 10pt; color:#333333 ; text-decoration: none;}

BODY.main {
    font-family: Arial, Helvetica, sans-serif; font-size: 10pt;
    background-color: white;
    margin-top: 30px;
    margin-left: 30px;
}

body { 
    font-family : Arial, Helvetica, sans-serif;
    font-size : 10pt;
    background-color : white;
}

body.content {
    margin-top : 10pt;
    margin-left : 1em;
}

fieldset
{
    border : 1px solid #103851;
    margin-right : 1em;
    margin-bottom : 1ex;
    padding: 6px 0px 10px 10px;
}

legend
{
    font-size : 9pt;
    color: #fff;
    background: #1d76b9;
    border: 1px solid #103851;
    padding: 2px 6px;
}


div.refreshbar {
    position : absolute;
    top : 10pt;
    right : 1em;
    text-align : right;
}

div.port_list {
    position : absolute;
    top : 10pt;
    left : 420px;
    text-align : right;
}


h1  {
    font-size : 12pt;
    color : #103851;
}


h2  {
    font-size : 11pt;
    color : #103851;
}

td {
    font-size : 10pt;
}

td.h1 {
background-color:#000000;
color:#ffffff;
vertical-align:middle;
text-align:left;
font-weight:600;
font-size:12pt;
height: 25px;
padding-left: 5px;
}


td.hdrc {
    font-weight : bold;
    text-align : center;
}


td.hdrl {
    padding : 0ex 1ex 0ex 1ex;
    font-weight : bold;
}

td.crh {
    padding : 0ex 1ex 0ex 1ex;
    text-align : right;
}

td.cr {
    padding : 0ex 1ex 0ex 1ex;
    text-align : right;
}

td.c {
    text-align : center;
}

td.cl {
    padding : 0ex 1ex 0ex 1ex;
    text-align : left;
}

td.dummy {
    display : none;
}

td.nowrap {
    white-space: nowrap;
}

td.cl_courier {
    padding : 0ex 1ex 0ex 1ex;
    text-align : left;
    font-family: "Courier New", Courier;
    white-space: pre;
}

td.c_courier {
    padding : 0ex 1ex 0ex 1ex;
    text-align : center;
    font-family: "Courier New", Courier;
    white-space: pre;
}

td.mac {
    font-family: "Courier New", Courier;
    white-space: nowrap;
}

td.emphasize {
    font-weight : bold;
}

.block  {
    font-family: "Courier New", Courier;
    white-space: pre;
}

td.ctrtext {
    font-weight : bold;
}

td.cr input {
    text-align : right;
}

td.linkDown {
}

td.linkUp {
}


.alert {
    background-color : #FF0000;
    padding : 3ex 3ex 3ex 3ex;
    border: solid black 3px;
    width: 60%;
    text-align : center;
    font-weight : bold;
    font-size : 12pt;
    color : #FFFFFF;
}

.alert2 {
    background-color : #FF0000;
    text-align : center;
    font-weight : bold;
    font-size : 12pt;
    color : #FFFFFF;
}


.portlabel {
    font-size : 8pt;
    color : #FFFFFF;
    text-align : center;
    margin: 4px 0px 0px 0px;
}

/*******************************/
/* Start of consolidation work */
/*******************************/



table.progressBar {
  border: 1px solid black;
  padding: 0px;
  width: 300px;
  height: 25px;
}

table.config {
    border: solid black 1px;
    border-collapse: collapse;
}

table thead tr, tr.config_header {
    background-color : #abbdcb;
    color: black;
}

/* first and non-paired lines */
tr.config,tr.config_even {
    background-color : #FFFFFF;
    height: 25px;
   
}

tr.config_odd {
    background-color : #e1eaf0;
    height: 25px;
}

table.display {
    border: solid black 1px;
    border-collapse: collapse;
}

tr.display_header {
    background-color : #abbdcb;
    color: black;
}

tr.display_separate_header{
    background-color : #abbdaf;
    color: black;
}


/* first and non-paired lines */
tr.display,tr.display_even {
    background-color : #FFFFFF;
    height: 25px;
}

tr.display_odd {
    background-color : #e1eaf0;
    height: 25px;
}


td.header {
background-color:#bbbbbb;
vertical-align:middle;
text-align:left;
font-weight:600;
font-size:10pt;
height: 25px;
padding-left: 5px;
}
td.headline {
background-color:#d0d1d3;
vertical-align:middle;
text-align:left;
font-weight:bolder;
font-size:14pt;
height: 25px;
padding-left: 5px;
}

td.titleheader {
background-color:#cccccc;
width:50%;
height: 25px;
}

td.titlea {
background-color:#ffffff;
width:50%;
height: 25px;
}

td.title {
background-color:#abbdcb;
width:50%;
height: 25px;
}

   
td.titleb {
background-color:#e1eaf0;
width:50%;
height: 25px;
}

td.titlec {
background-color:#abbdcb;
font-size : 12pt;
color : #103851;
}


td.col05 {
background-color:#e1eaf0;
width:5%;
height: 25px;
}

td.col05a {
background-color:#ffffff;
width:5%;
height: 25px;
}

td.col05b {
background-color:#abbdcb;
width:5%;
height: 25px;
}

td.col10 {
background-color:#e1eaf0;
width:10%;
height: 25px;
}

td.col10a {
background-color:#ffffff;
width:10%;
height: 25px;
}

td.col10b {
background-color:#abbdcb;
width:10%;
height: 25px;
}

td.col15 {
background-color:#e1eaf0;
width:15%;
height: 25px;
}

td.col15a {
background-color:#ffffff;
width:15%;
height: 25px;
}

td.col15b {
background-color:#abbdcb;
width:15%;
height: 25px;
}

td.col20 {
background-color:#e1eaf0;
width:20%;
height: 25px;
}

td.col20a {
background-color:#ffffff;
width:20%;
height: 25px;
}

td.col20b {
background-color:#abbdcb;
width:20%;
height: 25px;
}

td.col25 {
background-color:#e1eaf0;
width:25%;
height: 25px;
}

td.col25a {
background-color:#ffffff;
width:25%;
height: 25px;
}

td.col25b {
background-color:#abbdcb;
width:25%;
height: 25px;
}

td.col30 {
background-color:#e1eaf0;
width:30%;
height: 25px;
}

td.col30a {
background-color:#ffffff;
width:30%;
height: 25px;
}

td.col30b {
background-color:#abbdcb;
width:30%;
height: 25px;
}

td.col40 {
background-color:#e1eaf0;
width:40%;
height: 25px;
}

td.col40a {
background-color:#ffffff;
width:40%;
height: 25px;
}

td.col40b {
background-color:#abbdcb;
width:40%;
height: 25px;
}

td.col50 {
background-color:#e1eaf0;
width:50%;
height: 25px;
}

td.col55a {

vertical-align:middle;
text-align:left;
font-weight:600;
font-size:14pt;
height: 25px;
padding-left: 5px;

}

td.col55b {
background-color:#ffffff;
vertical-align:middle;
text-align:right;
height: 25px;
padding-left: 5px;

}

td.col60 {
background-color:#e1eaf0;
width:60%;
height: 25px;
}

td.col60a {
background-color:#ffffff;
width:60%;
height: 25px;
}

td.col60b {
background-color:#abbdcb;
width:60%;
height: 25px;
}

td.col70 {
background-color:#e1eaf0;
width:70%;
height: 25px;
}

td.col70a {
background-color:#ffffff;
width:70%;
height: 25px;
}

td.col70b {
background-color:#abbdcb;
width:70%;
height: 25px;
}

td.col80 {
background-color:#e1eaf0;
width:80%;
height: 25px;
}

td.col80a {
background-color:#ffffff;
width:80%;
height: 25px;
}

td.col80b {
background-color:#abbdcb;
width:80%;
height: 25px;
}

td.col90 {
background-color:#e1eaf0;
width:90%;
height: 25px;
}

td.col90a {
background-color:#ffffff;
width:90%;
height: 25px;
}

td.col90b {
background-color:#abbdcb;
width:90%;
height: 25px;
}

td.title2 {
background-color:#e1eaf0;
width:60%;
height: 25px;
font-weight:bolder;
}



th {
    border: solid black 1px;
    font-weight : bold;
    font-size : 11pt;
    padding : 0ex 1ex 0ex 1ex;
}

th.portno {
    border: solid black 1px;
    font-weight : bold;
    font-size : 9pt;
    text-align : center;
    padding : 0px 2px 0px 2px;
}

/* TH-style - only the first cell is a header, next is typically an input element */
td.param_label {
    font-weight : bold;
    background-color : #abbdcb;
    padding : 0ex 1ex 0ex 1ex;
}

/* Frame param leaders */
table.config td.param_label {
    border: solid black 1px;
}

/* TD-style - text describing next cell */
td.displaytext {
    font-weight : bold;
    padding : 0ex 1ex 0ex 1ex;
}

.notice {
    font-style: italic;
}

.hidden {
    display: none;
}

A:link { 
    color: black;
}
A:visited { 
    color: black;
}

/* Wizard Styles */
/* Header text block */
.hwiz {
    color : #103851;
    font-weight : bold;
    font-size   : 11pt;
}
/* Text level block */
.wiz {
    padding : 1ex 4ex 2ex 4ex;
}
/* Add this class if you need a narrow version of any other class. E.g.: "cr no_padding" */
.no_padding {
    padding : 0 !important;
}


